@charset "utf-8";

/*------------------------------------------------------------------------------------------------------------------------------------------
	File : base.css
	Company : 공간정보기술(주)
	Author : Jong-hun Park 2017-08
	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
	CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, color/font, align, etc 
--------------------------------------------------------------------------------------------------------------------------------------------*/

*, *:before, *:after {
	margin:0px; 
	padding:0px;
	box-sizing:inherit;
  	-webkit-box-sizing:inherit;
  	-moz-box-sizing:inherit;
	-o-box-sizing:inherit;  	
}

html {
	height:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
body {	 
	scrollbar-3dlight-color:#b4b4b4;
	scrollbar-arrow-color:#333333;
	scrollbar-base-color:#eeeeee;
	scrollbar-darkshadow-color:#efefef;
	scrollbar-face-color:#efefef;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#b4b4b4;
	height:100%;
	font-family:'NotoSansKR-Regular', "sans-serif";
	font-size:100%;
	/*font:inherit;*/
	line-height:1;
	vertical-align:baseline;	
	color:#444444;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
}

html.no_scroll {overflow-y:hidden}
body.no_scroll {overflow-y:hidden;}

address, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section {display:block\9; margin:0\9; padding:0\9;}
hr, caption {display:none;}
h1, h2, h3, h4, h5, h6 ,h7 {font-weight:normal;}
img {border:none; vertical-align:middle;}
ol, ul, li, dl, dt, dd {list-style:none;}
table {
	width:100%; 
	border:0px; 
	border-spacing:0px; 
	border-collapse:collapse; 	
	font-family:'NotoSansKR-Regular', "sans-serif";
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-o-box-sizing: border-box;
}
th, td {border:0px; word-break:break-all; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
th {font-weight:normal;}
fieldset {width:100%; border:0px;}
legend {display:none;}
frameset {border:0px;}
iframe {width:100%; border:0px;}
em, address {font-style:normal;}
button, a, input, label, textarea {vertical-align:middle;}
select {vertical-align:middle;}
button {overflow:visible; outline:none; cursor:pointer; border:0px; background-color:transparent;}
button::-moz-focus-inner {padding:0px;}
select, input, textarea {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}

a {color:#444444; text-decoration:none;}
a:active, visited, link {color:#444444;}
a:hover {color:#444444;}
a.link {text-decoration:underline;}

i {font-style:normal;}

/* Font */
@font-face {
	font-family:'NotoSansKR-Regular';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/NotoSansKR-Regular.eot'); /* IE9 Compat Modes */
	src:local('※'),
		url('/../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/../fonts/NotoSansKR-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/../fonts/NotoSansKR-Regular.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
	font-family:'NotoSansKR-Medium';
	font-style: normal;
	font-weight: 500;
	src: url('./../../fonts/NotoSansKR-Medium.eot'); /* IE9 Compat Modes */
	src:local('※'),
		url('./../../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('./../../fonts/NotoSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('./../../fonts/NotoSansKR-Medium.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
	font-family:'NotoSansKR-Bold';
	font-style: normal;
	font-weight: 500;
	src: url('./../../fonts/NotoSansKR-Bold.eot'); /* IE9 Compat Modes */
	src:local('※'),
		url('./../../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('./../../fonts/NotoSansKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./../../fonts/NotoSansKR-Bold.woff') format('woff') /* Pretty Modern Browsers */
}