@charset "utf-8";

/*------------------------------------------------------------------------------------------------------------------------------------------
	File : LTE_IE9.CSS(Admin) 
	Company : The Webstyle co.,ltd 
 	Author : Woo Seok, Shin 2015-09
 	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
	CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, color/font, align, etc 
--------------------------------------------------------------------------------------------------------------------------------------------*/


/* input */
.input_wrap.placeholder input {position:relative; background:transparent; z-index:1;}
.input_wrap.placeholder input:focus {background:#ffffff;}
.input_wrap.placeholder input[value^=''] {background:#ffffff;}
.input_wrap.placeholder label {display:inline-block; *display:inline; *zoom:1; position:absolute; left:0px; top:0px; z-index:0;}

.box_login .login_input_wrap .input_wrap label {padding-left:15px; font-size:14px; color:#727272; line-height:40px;}